@layer base {
    :where(form label) {
        display: block;
        margin-block-end: --spacing(1.5);
        color: var(--color-fg);
        font-size: var(--text-label);
        font-weight: 500;
    }

    :where(form legend) {
        @apply text-xl mb-3;
        font-weight: 500;

        & + br {
            @apply hidden;
        }
    }

    :where(fieldset ~ fieldset) {
        @apply mt-8;
    }
}
