<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_model_service_quote_submit_before">
        <observer name="madameaiguille_apply_relay_point" instance="MadameAiguille\Checkout\Observer\ApplyRelayPoint"/>
        <observer name="madameaiguille_reserve_pickup_slot" instance="MadameAiguille\Checkout\Observer\ReservePickupSlot"/>
        <observer name="madameaiguille_copy_gift_wrap_to_order" instance="MadameAiguille\Checkout\Observer\CopyGiftWrapToOrder"/>
    </event>
    <event name="sales_model_service_quote_submit_success">
        <observer name="madameaiguille_subscribe_newsletter" instance="MadameAiguille\Checkout\Observer\SubscribeNewsletter"/>
        <observer name="madameaiguille_attach_pickup_booking" instance="MadameAiguille\Checkout\Observer\AttachPickupBooking"/>
    </event>
    <event name="sales_model_service_quote_submit_failure">
        <observer name="madameaiguille_release_pickup_booking" instance="MadameAiguille\Checkout\Observer\ReleasePickupBooking"/>
    </event>
    <event name="order_cancel_after">
        <observer name="madameaiguille_release_pickup_booking" instance="MadameAiguille\Checkout\Observer\ReleasePickupBooking"/>
    </event>
    <event name="payment_method_is_active">
        <observer name="madameaiguille_restrict_payment_to_delivery" instance="MadameAiguille\Checkout\Observer\RestrictPaymentToDelivery"/>
    </event>
</config>
