<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <madameaiguille>
            <social>
                <instagram_url/>
                <facebook_url/>
                <pinterest_url/>
            </social>
            <catalog>
                <scarcity_threshold>3</scarcity_threshold>
                <price_note/>
            </catalog>
        </madameaiguille>
        <!-- Décision du 05/09/2026 : les produits épuisés restent visibles (badge « Épuisé », fin de liste) -->
        <!-- Poids saisis en kilogrammes (grilles transporteurs françaises) -->
        <general>
            <locale>
                <weight_unit>kgs</weight_unit>
            </locale>
        </general>
        <cataloginventory>
            <options>
                <show_out_of_stock>1</show_out_of_stock>
            </options>
        </cataloginventory>
    </default>
</config>
