<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="madameaiguille" translate="label" type="text" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Madame Aiguille</label>
            <tab>general</tab>
            <resource>MadameAiguille_Theme::config</resource>
            <group id="social" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Réseaux sociaux</label>
                <comment>Adresses affichées dans le pied de page. Laisser vide pour masquer un réseau.</comment>
                <field id="instagram_url" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Instagram</label>
                    <validate>validate-url</validate>
                </field>
                <field id="facebook_url" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Facebook</label>
                    <validate>validate-url</validate>
                </field>
                <field id="pinterest_url" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Pinterest</label>
                    <validate>validate-url</validate>
                </field>
            </group>
        </section>
    </system>
</config>
