<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="madameaiguille_newsletter" xsi:type="object">MadameAiguille\Checkout\Model\Newsletter\ConfigProvider</item>
                <item name="madameaiguille_relay_point" xsi:type="object">MadameAiguille\Checkout\Model\RelayPoint\ConfigProvider</item>
                <item name="madameaiguille_pickup" xsi:type="object">MadameAiguille\Checkout\Model\Pickup\ConfigProvider</item>
                <item name="madameaiguille_gift_wrap" xsi:type="object">MadameAiguille\Checkout\Model\GiftWrap\ConfigProvider</item>
            </argument>
        </arguments>
    </type>
</config>
